/* Styles for index.html */

h1 {
  color: lightsalmon;
}
#ux-course {
  color: lightsteelblue;
}
.ux-header {
  color: lightslategray;
}
.ux {
  color: lightseagreen;
}
#ds-header {
  color: lightsteelblue;
}
h1 {
  color: black;
}
h1 {
  color: lightgreen;
}

/* Styles for units.html */

.container {
  font-size: 1em;
  background-color: lightgrey;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}
p {
  font-size: 1.5em;
  width: 50%;
}
