@charset 'utf-8';

@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/breakpoints";
@import "./partials/parallaxImage";
@import "./partials/imageGallery";

html,
body {
  margin: 0;
  font-family: "NunitoSemiBold", sans-serif;
  line-height: 1.8em;
  color: $semi-dark-grey;
  height: 100vh;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
