@font-face {
  font-family: "AvenirRegular";
  src: url("../../assets/fonts/AvenirRegular.otf");
  //   font-weight: 400;
}

@font-face {
  font-family: "AvenirBold";
  src: url("../../assets/fonts/AvenirBold.otf");
}

@font-face {
  font-family: "AvenirSemiBold";
  src: url("../../assets/fonts/AvenirSemi.otf");
}
