.main-content {
  // height: 80vh;
  color: #00695c;
  font-weight: 900;
  display: flex;
  flex-direction: column;

  &__left {
    background-color: #80cbc4;
    border: 1px solid #004d40;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // flex: 60%;
    // flex: 100%;
    // padding: 20px;
    padding: 10px;
  }
  &__section {
    display: flex;
    // flex: 2;
    background-color: #4db6ac;
    // padding: 20px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
  }
  &__product {
    background-color: #c5e1a5;
    // padding: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.33;
    margin: 20px;
  }
  &__image-gallery {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    background-color: #26a69a;
    padding: 10px;
  }
  &__image {
    height: 100px;
    margin: 5px auto;
  }
  &__right {
    background-color: #bcaaa4;
    border: 1px solid #4e342e;
    padding: 10px;
    color: #3e2723;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  &__blogpost {
    background-color: #8d6e63;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 90%;
    padding: 40px;
  }
}

@include medium {
  .main-content {
    &__product {
      height: 100px;
      flex: unset;
    }
    &__image-gallery {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    &__image {
      height: 150px;
    }
    &__blogpost {
      width: 90%;
      align-items: center;
    }
  }
}

@include large {
  .main-content {
    flex-direction: row;
    &__left {
      flex: 50%;
      padding: 20px;
    }
    &__right {
      flex: 50%;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    &__section {
      flex: 2;
    }
    &__blogpost {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 40%;
      font-size: 0.9rem;
    }
  }
}

@include huge {
  .main-content {
    height: 80vh;
    &__product {
      flex: 0.33;
      height: unset;
      margin: 20px;
    }
  }
}
